{% extends 'main/base.html' %}

{% block title %}
{{ book.title }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="card-title">{{ book.title }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Автор:</strong> {{ book.author }}</p>
            <p><strong>Год издания:</strong> {{ book.year }}</p>
            <p><strong>Описание:</strong> {{ book.description }}</p>
            <p>
                {% if book.is_available %}
                    <span class="badge bg-success">Книга доступна</span>
                {% else %}
                    <span class="badge bg-danger">Книга занята</span>
                    <p>Книга взята пользователем: {{ book.borrowed_by.get_full_name }} ({{ book.borrowed_by.email }})</p>
                {% endif %}
            </p>
        </div>
        <div class="card-footer">
            <a href="{% url 'books' %}" class="btn btn-secondary">Вернуться к списку</a>
        </div>
    </div>
</div>
{% endblock %}